USE [master]
GO
/****** Object:  Database [BMWindowsDB]    Script Date: 11/14/2025 9:37:34 AM ******/
CREATE DATABASE [BMWindowsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BMWindowsDB', FILENAME = N'C:\Users\HaoNguyen\BMWindowsDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BMWindowsDB_log', FILENAME = N'C:\Users\HaoNguyen\BMWindowsDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BMWindowsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BMWindowsDB]
GO
/****** Object:  Table [dbo].[AppItems]    Script Date: 11/14/2025 9:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Icon] [nvarchar](max) NULL,
	[Size] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Keyword] [nvarchar](max) NULL,
	[Prioritize] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_AppItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/14/2025 9:37:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[Keyword] [nvarchar](max) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[Prioritize] [int] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Status], [Keyword], [CreatedBy], [CreatedDate], [UpdatedDate], [Prioritize], [UpdatedBy]) VALUES (3, N'Nhân sự', 0, N'', N'12345678-1234-5678-1234-567812345678', CAST(N'2025-11-14T00:00:00.000' AS DateTime), CAST(N'2025-11-14T02:36:27.767' AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
/****** Object:  Index [IX_AppItems_CategoryId]    Script Date: 11/14/2025 9:37:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_AppItems_CategoryId] ON [dbo].[AppItems]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AppItems_Status]    Script Date: 11/14/2025 9:37:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_AppItems_Status] ON [dbo].[AppItems]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UX_AppItems_Prioritize]    Script Date: 11/14/2025 9:37:34 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_AppItems_Prioritize] ON [dbo].[AppItems]
(
	[Prioritize] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Categories_Status]    Script Date: 11/14/2025 9:37:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_Categories_Status] ON [dbo].[Categories]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UX_Categories_Prioritize]    Script Date: 11/14/2025 9:37:34 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Categories_Prioritize] ON [dbo].[Categories]
(
	[Prioritize] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AppItems] ADD  CONSTRAINT [DF_AppItems_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[AppItems] ADD  CONSTRAINT [DF_AppItems_Keyword]  DEFAULT (N'') FOR [Keyword]
GO
ALTER TABLE [dbo].[AppItems] ADD  CONSTRAINT [DF_AppItems_CreateTime]  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[AppItems] ADD  CONSTRAINT [DF_AppItems_UpdateTime]  DEFAULT (sysdatetime()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_Keyword]  DEFAULT (N'') FOR [Keyword]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_CreateTime]  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_UpdateTime]  DEFAULT (sysdatetime()) FOR [UpdatedDate]
GO
USE [master]
GO
