USE [master]
GO
/****** Object:  Database [BMWindowsDB]    Script Date: 11/12/2025 3:55:22 PM ******/
CREATE DATABASE [BMWindowsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BMWindowsDB', FILENAME = N'C:\Users\HaoNguyen\BMWindowsDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BMWindowsDB_log', FILENAME = N'C:\Users\HaoNguyen\BMWindowsDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BMWindowsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BMWindowsDB]
GO
/****** Object:  Table [dbo].[AppItems]    Script Date: 11/12/2025 3:55:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Icon] [nvarchar](200) NULL,
	[Size] [nvarchar](50) NULL,
	[Url] [nvarchar](500) NULL,
	[CreateBy] [int] NOT NULL,
	[CreateTime] [datetime2](0) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[Keyword] [nvarchar](400) NOT NULL,
	[UpdateTime] [datetime2](0) NOT NULL,
	[UpdateBy] [int] NOT NULL,
	[Token] [nvarchar](200) NULL,
	[Expired] [int] NULL,
	[AppExpire] [datetime2](0) NULL,
	[Prioritize] [int] NOT NULL,
 CONSTRAINT [PK_AppItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/12/2025 3:55:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CreateBy] [int] NOT NULL,
	[CreateTime] [datetime2](0) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[Keyword] [nvarchar](400) NOT NULL,
	[UpdateTime] [datetime2](0) NOT NULL,
	[UpdateBy] [int] NOT NULL,
	[Prioritize] [int] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [CreateBy], [CreateTime], [Status], [Keyword], [UpdateTime], [UpdateBy], [Prioritize]) VALUES (1, N'Workshop', 1, CAST(N'2025-11-11T09:24:10.0000000' AS DateTime2), 1, N'workshop; ws; training', CAST(N'2025-11-11T11:33:38.0000000' AS DateTime2), 1, 1)
INSERT [dbo].[Categories] ([Id], [Name], [CreateBy], [CreateTime], [Status], [Keyword], [UpdateTime], [UpdateBy], [Prioritize]) VALUES (2, N'Tài chính', 1, CAST(N'2025-11-11T09:24:10.0000000' AS DateTime2), 1, N'tài chính; tai chinh; finance', CAST(N'2025-11-11T11:33:38.0000000' AS DateTime2), 1, 2)
INSERT [dbo].[Categories] ([Id], [Name], [CreateBy], [CreateTime], [Status], [Keyword], [UpdateTime], [UpdateBy], [Prioritize]) VALUES (3, N'Nhân sự', 1, CAST(N'2025-11-11T09:24:10.0000000' AS DateTime2), 1, N'nhân sự; nhan su; hr; human resources', CAST(N'2025-11-11T11:33:38.0000000' AS DateTime2), 1, 3)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
/****** Object:  Index [IX_AppItems_CategoryId]    Script Date: 11/12/2025 3:55:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_AppItems_CategoryId] ON [dbo].[AppItems]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AppItems_Keyword]    Script Date: 11/12/2025 3:55:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_AppItems_Keyword] ON [dbo].[AppItems]
(
	[Keyword] ASC
)
INCLUDE([Name]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AppItems_Status]    Script Date: 11/12/2025 3:55:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_AppItems_Status] ON [dbo].[AppItems]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_AppItems_Prioritize]    Script Date: 11/12/2025 3:55:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_AppItems_Prioritize] ON [dbo].[AppItems]
(
	[Prioritize] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Categories_Keyword]    Script Date: 11/12/2025 3:55:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_Categories_Keyword] ON [dbo].[Categories]
(
	[Keyword] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Categories_Status]    Script Date: 11/12/2025 3:55:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_Categories_Status] ON [dbo].[Categories]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Categories_Prioritize]    Script Date: 11/12/2025 3:55:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Categories_Prioritize] ON [dbo].[Categories]
(
	[Prioritize] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AppItems] ADD  CONSTRAINT [DF_AppItems_CreateBy]  DEFAULT ((1)) FOR [CreateBy]
GO
ALTER TABLE [dbo].[AppItems] ADD  CONSTRAINT [DF_AppItems_CreateTime]  DEFAULT (sysdatetime()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[AppItems] ADD  CONSTRAINT [DF_AppItems_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[AppItems] ADD  CONSTRAINT [DF_AppItems_Keyword]  DEFAULT (N'') FOR [Keyword]
GO
ALTER TABLE [dbo].[AppItems] ADD  CONSTRAINT [DF_AppItems_UpdateTime]  DEFAULT (sysdatetime()) FOR [UpdateTime]
GO
ALTER TABLE [dbo].[AppItems] ADD  CONSTRAINT [DF_AppItems_UpdateBy]  DEFAULT ((1)) FOR [UpdateBy]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_CreateBy]  DEFAULT ((1)) FOR [CreateBy]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_CreateTime]  DEFAULT (sysdatetime()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_Keyword]  DEFAULT (N'') FOR [Keyword]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_UpdateTime]  DEFAULT (sysdatetime()) FOR [UpdateTime]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_UpdateBy]  DEFAULT ((1)) FOR [UpdateBy]
GO
/****** Object:  Trigger [dbo].[TR_AppItems_SetUpdateTime]    Script Date: 11/12/2025 3:55:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_AppItems_SetUpdateTime]
ON [dbo].[AppItems]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE a
      SET UpdateTime = SYSDATETIME()
    FROM dbo.AppItems a
    INNER JOIN inserted i ON i.Id = a.Id;
END
GO
ALTER TABLE [dbo].[AppItems] ENABLE TRIGGER [TR_AppItems_SetUpdateTime]
GO
/****** Object:  Trigger [dbo].[TR_Categories_SetUpdateTime]    Script Date: 11/12/2025 3:55:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_Categories_SetUpdateTime]
ON [dbo].[Categories]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE c
      SET UpdateTime = SYSDATETIME()
    FROM dbo.Categories c
    INNER JOIN inserted i ON i.Id = c.Id;
END
GO
ALTER TABLE [dbo].[Categories] ENABLE TRIGGER [TR_Categories_SetUpdateTime]
GO
USE [master]
GO
